@font-face {
  font-family: "JetBrains";
  src: local("JetBrainsMono"),
    url("./fonts/JetBrainsMono.ttf") format("truetype");
}

body {
  font-family: 'JetBrains';
  margin: 0;
  padding: 0;
  background: #353535;
}

.container {
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #38acff;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 30%;
  margin-bottom: 15px;
}

.progress-container {
  height: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
}

.progress-bar {
  height: 100%;
  background: #4caf50;
  transition: width 0.3s ease;
}
